:root {
  /* Light mode */
  --color-background: #f1f4f9;
  --color-background-container: #ffffff;
  --color-font-disable: #606264;
  --color-font: #38424f;
  --color-action: #11519c;
  --color-warning: #e94242;
}

/* Animation */
@keyframes slide-x {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-y {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
